:root{
    --primary: #1abc9c;
    --header-footer-color: #2c3e50;
    --second-footer-color: #3a546d;
}

h1, h2{
    text-align: center;
}

a{
    color: inherit;
    display: inline-block;
}

.primary-btn{
    background-color: var(--primary);
    color: white;
}

.secondary-btn{
    border: 1px solid white;
    color: white;
}

nav{
    background-color: var(--header-footer-color);
}

nav a{
    color: white !important;
}

.nav-link{
    background-image: linear-gradient(transparent 0%, transparent 90%, white 90%, white 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

nav .nav-link:hover{
    background-size: 100% 100%;
    background-position-x: left;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-button{
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
}

main{
    padding-top: 3.5rem;
}

.section-1{
    background-color: var(--primary);
    color: white;
}

.avatar{
    max-width: 150px;
}

.star-hr{
    max-width: 260px;
}

.hero-hr{
    max-width: 260px;
}

.line{
    width: 100%;
    height: 3px;
    border-radius: 4px;
}

.container-small{
    max-width: 720px;
}

.form-input{
    border: none;
    border-bottom: 1px solid lightgray;
    resize: none;
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
  }

footer{
    color: white;
}

.footer{
    background-color: var(--second-footer-color);
}

.footer span{
    color: var(--primary);
}

.social{
    padding-top: 0.4rem;
    border-radius: 50%;
    border: 1px solid white;
    height: 2.5rem;
    width: 2.5rem;
}

.social:hover{
    color: var(--primary);
}

.copyright{
    background-color: var(--header-footer-color);
}